body {
	line-height: 1;
}


/* Navigation */
.navigation {
	background: #000;
	border-bottom: 5px solid #fc5700;
}

nav.primary {
	display: inline-block;
	width: 100%;
	background: black;
	clear: both;
}

.nav.primary.column, .columns {
	float: right;
	width: auto;
}

nav.primary ul {
	display: inline-block;
	margin-top: 1%;
	margin-bottom: 0px;
}

nav.primary select {
	display: none;
	height: 28px;
	margin: 21px 0;
}

nav.primary ul li {
	display: inline-block;
}

nav.primary ul li a {
	margin-right: 15px;
	color: white;
	text-transform: uppercase;
	text-decoration: none;
	letter-spacing: 0.08em;
	font-size: 14px;
}

nav.primary ul li a:hover {
	cursor: pointer;
	border-bottom: 8px solid #fc5700;
	color: #fc5700;
	padding-bottom: 5px;
	transition: all .2s;
}

nav.primary .brand {
	display: inline-block;
	margin-top: 2%;
	float: left;
}

nav.primary .phonenum {
	display: inline-block;
	color: white;
	float: right;
	margin-top: 2%;
	font-size: 25px;
}


/* Brand panel*/

.branddiv {
	background: url('http://p.w3layouts.com/demos/united_comms/web/images/banner.jpg');
	min-height: 481px;
}

.branddiv .container {

}

.branddiv .panel {
	padding: 2em 1.8em 2em 2em;
	color: white;
	background: rgba(92,162,204,0.7);
	width: 40%;	
	left: 15%;
	position: absolute;
	top: 200px;
}

.branddiv .panel h2 {
	font-size: 2.7em;
	letter-spacing: 1px;
	font-weight: lighter;
}

.branddiv .panel p {
	font-size: 1.4em;
	line-height: 1.45em;
	padding:0;
	margin: 0;
}
.branddiv .panel a.button{
	margin-top: 4%;
	padding: 0 3%;
	font-size: 14px;
	border-radius: 0;
	border: 1px solid white;
	color: white;
	text-transform: uppercase;
	font-weight: 700;
}

/* Services Panel */

.services {
	background: #FFF;
	color: #FFF;
	margin-bottom: 30px;
}

.services .container {
	padding: 0;
}

.services h2 {
	margin-top: 4%;
	font-size: 2.5em;
	font-family: Calibri;
	color: #000;
	font-weight: 300;
	letter-spacing: 1.5;
}

.services #mobileandtablet {
	background: #f05423;
	margin-bottom: 10.1px;
	padding: 9%;
}

.services #moreservices {
	background: #aa7fc1;
	padding: 9%;
}

.services #broadband {
	background: #7bbd42;
	padding: 9%; 
}

.services #broadband .panell{
	margin-top: 156px;
}

.services #linescalls {
	background: #feb913;
	margin-bottom: 10.1px;
	padding: 9%;
}

.services #phonesystems {
	background: #329cd6;
	padding: 9%;
}

.services .columns {
	float: left;
	margin: 0.5%;
}

.services .columns .fa-chevron-circle-right {
	margin-top: 26px;
	font-size: 24px;
	float: right;
}

.services .columns .pafa {
	font-size: 52px;
}

/* Subscribing Panel */

.subscribe {
	display: block;
	background: url('../img/subscribe-bg.jpg');
	margin-bottom: 30px;
}

.subscribe .container {
	padding: 0;
}

.subscribe  h1 {
	font-family: Calibri;
	color: #fff;
	font-size: 2.5em;
	text-align: right;
}

.subscribe .columns {
	float: left;
    margin: 5% 5px;
}

.subscribe .columns .fa-newspaper-o {
	font-size: 7em;
	color: #fff;
    margin-left: 20%;
}

.subscribe .form {
	float: right;
	border: 2px solid white;
	border-radius: 0;
	padding-bottom: 0;
    margin-bottom: 0;
    background: #007acc;
    opacity: 0.8;
}

.subscribe .form .form-left {
	display: inline-block;
	margin: 0;
	border-right: 2px solid white;
}

.subscribe .form .form-right {
	display: inline-block;
    background: #007acc;
}

.subscribe input[type=email] {
	background: #94c2dd none repeat scroll 0 0;
    color: #fff;
	border-radius: 0;
    font-size: 15px;
    outline: medium none;
    padding: 12px;
    margin-bottom: 0;
}

.subscribe input[type=submit] {
	background: #007acc none repeat;
    color: #fff;
    font-size: 15px;
	border: none;
    margin-bottom:0;
}

/* Our Clients */

.clients {
	margin-bottom: 30px;
}

.clients h1 {
	font-family: Calibri;
	color: #000;
	font-size: 2.1em;
	margin-top: 50px;
	text-align: center;	
}

.clients .columns {
	float: left;
	width: 21%;
}

/* Testimonials */

.testimonials {
	background: url("../img/testimonials.jpg");
	color: #fff;
}

.testimonials h1 {
	text-align: center;
	color: rgb(138, 138, 138);
	font-size: 2.1em;
	padding-top: 40px;
}

.testimonials .columns {
	float: left;
}

.testimonials .ceoprofile {
	text-align: center;
	background: #fff;
	color: #000;
	padding: 0;
}

.testimonials .ceoprofile h4 {
	margin-bottom: 1px;
	font-size: 1.5em;
}

.testimonials .quote p {
	padding-bottom: 5%;
    display: none;
}

 .testimonials .quote p.active {
    display: block;
 }

.testimonials .quote {
	background: rgba(91, 128, 54, 0.67);
	padding: 7% 10%;
    display: block;
}

.testimonials .eight {
	margin-left: 0;
}

.testimonials .quote .fa {
	font-size: 4em;
	margin-top: 3.1%;
}


/* Contacts */

.contacts .columns {
	float: left;
	text-align: center;
	margin: 0;
}

.contacts h4{
	text-align: center;
	margin: 20px 0;
	font-size: 2em;
}

.contacts .fa {
	text-align: center;
	font-size: 5em;
	margin-bottom: 5%;
}

.contacts .fa-mobile {
	color: orange;
}


.contacts .fa-user {
	color: #b22222;
}


.contacts .fa-globe {
	color: #9932cc;
}

.contacts p {
	padding: 0;
	margin: 0;
	font-size: 14px;
	font-weight: bold;
	line-height: 1.2em;
}

.contacts .formtwo {
	background: #1A1A1A;
	margin-top: 5%;
	padding: 5%;
	margin-bottom: -12.5%;
	z-index: 1;
}

.contacts .formtwo input {
	border-radius: 0;
	border: none;
	background: #333;
	width: 100%;
	margin: 10px 0;
	height: 50px;
	color: white;
}

.contacts .formtwo textarea {
	border-radius: 0;
	background: #333;
	width: 90%;
	height: 120px;
	margin: 10px 0 20px;
	color: #fff;
	font-size: 1em;
	resize: none;
	padding: 15px 10;
	border: none;
}

.contacts .formtwo .button {
	border-radius: 0;
	color: #fff;
	font-size: 1em;
	margin-top: 4%;
	font-weight: 300;
}
::-webkit-input-placeholder {
   color: #ecf0f1;
}
:-moz-placeholder { /* Firefox 18- */
   color: white;
   font-weight: 600;  
}

::-moz-placeholder {  /* Firefox 19+ */
   color: #ecf0f1;  
   font-weight: 600;
}

:-ms-input-placeholder {  
   color: #ecf0f1;  
}

/*  MAP    */

.map iframe{
    width: 100%;
}

/* Footer */

.footer {
	background: #1A1A1A;
	text-align: center;
}

.footer ul {
	list-style: none;
	color: #fff;
	text-align: center;
	padding-top: 5%;
}

.footer ul li {
	display:inline-block;
	width:20px;
	height:20px;
	border:1px solid #fff;
	border-radius:100%;
	text-align:center;
	font-size: 1.2em;
	padding: 5px;
	margin: 0 5px;	
}

.footer p {
	color: white;
}